header
{
    background-color: lightgrey;
}

header>a>img {
    width: 35%;
    height: auto;
}

footer {
    background-color: rgb(110, 99, 86);
    position: fixed;
    height: 30px;
    bottom: 0px;
    left: 0px;
    right: 0px;
    margin-bottom: 0px;
    text-align: center;
}

footer>a {
    word-wrap: break-word;
    margin-left: 10px;
    text-decoration: none;
    color: rgb(141, 198, 63);
    font-size: 14px;
    font-weight: bold;
}
