*{
    font-family: Arial;
}

html{
    background-color: whitesmoke;
}

header{
    text-align: center;
    background-color: white;
}

section{
    height: 100%;   
    margin-bottom: 30px;
    background-color: white;
    text-align: center;
}
