<!DOCTYPE html>
<html lang="fr">

<head>
	<title>Madera</title>
	<meta charset="utf-8">
	<link rel="stylesheet" type="text/css" href="/stylesheets/index.css">
	<% include ../bootstrap_link.ejs %>
	<link rel="stylesheet" type="text/css" href="/stylesheets/header_footer.css">
	<link rel="shortcut icon" href="/images/icone.png">
</head>

<body>
	<% include ../header.ejs %>
        <section>
            <article>
                <h2>Gestion des gammes</h2>
            </article>
            <article>
                <input type="text" placeholder="rechercher" class="form-control"/>
            </article>
            <br>
            <article>
                <a href="/etudes/creerGamme" class="btn btn-success">Ajouter Gamme</a>
            </article>
            <br>
            <article>
                <table class="table">
                    <tr>
                        <th>Modules</th>
                        <th>Détails</th>
                        <th>Modifier</th>
                        <th>Supprimer</th>
                    </tr>
                </table>
            </article>
        </section>
    <% include ../footer.ejs %>
</body>

</html>
