<!DOCTYPE html>
<html lang="fr">

<head>
	<title>Madera</title>
	<meta charset="utf-8">
	<link rel="stylesheet" type="text/css" href="/stylesheets/index.css">
	<% include ../bootstrap_link.ejs %>
	<link rel="stylesheet" type="text/css" href="/stylesheets/header_footer.css">
	<link rel="shortcut icon" href="/images/icone.png">
</head>

<body>
	<% include ../header.ejs %>
        <section>
            <article>
                <h2>Bonjour <%= data.nom %> <%= data.prenom %> - <%= data.mail %></h2>
            </article>
            <artcile class="row" style="text-align: center;">
                <div class="col-md-6 col-sm-6 col-xs-12">
                    <a href="commercial/createDevis"><h3>Ajout module</h3></a>
                </div>
                <div class="col-md-6 col-sm-6 col-xs-12">
                    <a href="commercial/visualiserDevis"><h3>Ajout gamme</h3></a>
                </div>
            </artcile>
        </section>
    <% include ../footer.ejs %>
</body>

</html>
