<!DOCTYPE html>
<html lang="fr">

<head>
	<title>Madera</title>
	<meta charset="utf-8">
	<% include bootstrap_link.ejs %>
	<link rel="shortcut icon" href="/images/icone.png">
</head>

<body>
	<% include ../header.ejs %>
    <section>
        <article class="row">
            <form>
                <div class="col-md-4 col-sm-4 col-xs-12">

                </div>
                <div class="col-md-8 col-sm-8 col-xs-12">
                    <h3>Plan :</h3>
                </div>
            </form>
        </article>

        <article  class="row">

        </article>
    </section>
    <% include ../footer.ejs %>
</body>

</html>
