<!DOCTYPE html>
<html lang="fr">

<head>
    <title>Madera</title>
    <meta charset="utf-8">
    <link rel="stylesheet" type="text/css" href="/stylesheets/index.css">
    <link rel="stylesheet" type="text/css" href="/stylesheets/header_footer.css">
    <link rel="stylesheet" type="text/css" href="/stylesheets/bootstrap.css">
    <link rel="shortcut icon" href="/images/icone.png">
    <script src="/libraries/angular.min.js"></script>
</head>

<body>
    <% include ../header.ejs %>
        <div class="container">
            <h1>Création d'un devis :</h1>
            <form action="/commercial/createPlan" method="POST" onsubmit="return verifForm()" name="mainForm">
                <div class="row">
                    <div class="col-md-6 col-sm-6 col-xs-12">
                        <h2>Projet :</h2>
                        <label>Nom du projet :</label><br/>
                        <input type="text" id="nomProjet" name="nomProjet" class="form-control" required/>
                        <h2>Client :</h2>
                        <select id="client" name="client" class="form-control">
                            <% for(var i=0; i < clients.length; i++){ %>
                                    <option value="<%= clients[i].id %>"><%= clients[i].nom + " " + clients[i].prenom + " - " + clients[i].mail + " - " + clients[i].telephone %></option>
                            <% } %>
                        </select><br/>
                        <button type="submit" class="btn btn-primary btnVal">Valider</button>
                    </div>
                    <div class="col-md-6 col-sm-6 col-xs-12">
                        <h2>Adresse :</h2>
                        <label>Numéro :</label><br/>
                        <input type="number" id="numClient" name="numClient" class="form-control" required/><br/>
                        <label>Adresse :</label><br/>
                        <input type="text" id="adresseClient" name="adresseClient" class="form-control" required/><br/>
                        <label>Code postal :</label><br/>
                        <input type="number" id="postalClient" name="postalClient" class="form-control" required/><br/>
                        <label>Ville :</label><br/>
                        <input type="text" id="villeClient" name="villeClient" class="form-control" required/><br/>
                        <label>Pays :</label><br/>
                        <input type="text" id="paysClient" name="paysClient" class="form-control" required/><br/>
                    </div>
                </div>
            </form>
        </div>
    <% include ../footer.ejs %>
</body>

</html>
