<!DOCTYPE html>
<html lang="fr">

<head>
	<title>Madera</title>
	<meta charset="utf-8">
	<link rel="stylesheet" type="text/css" href="/stylesheets/index.css">
	<link rel="stylesheet" type="text/css" href="/stylesheets/table.css">
	<link rel="stylesheet" type="text/css" href="/stylesheets/header_footer.css">
	<% include ../bootstrap_link.ejs %>
		<link rel="shortcut icon" href="/images/icone.png">
</head>

<body>
	<% include ../header.ejs %>
		<section>
			<article class="row">
				<form>
					<div class="col-md-4 col-sm-4 col-xs-12">
						<label>Gamme de la maison :</label><br>
						<select id="gamme" class="form-control" onchange="searchModele()"></select><br>
						<label>Choix du modèle :</label><br>
						<select id="modele_gamme" class="form-control" onchange="searchEtage()"></select><br>
						<label>Choix de l'étage :</label><br>
						<select id="etage" class="form-control"></select><br>
						<label>Ajouts des options :</label><br>
						<select id="optionsAvailable" class="form-control"></select><br>
						<input type="submit" value="Ajouter" class="btn btn-success"><br>
						<br>
						<div id="table-wrapper">
							<div id="table-scroll">
								<table>
									<thead>
										<tr>
											<th><span class="text">Option</span></th>
											<th><span class="text">Supprimer</span></th>
										</tr>
									</thead>
									<tbody>
									</tbody>
								</table>
							</div>
						</div>
					</div>
					<div class="col-md-8 col-sm-8 col-xs-12">
						<h3>Plan :</h3>
						<img src="/images/plan.png" alt="plan" style="width: 600px; height: auto;" /><br/>
					</div>
					<div class="row" style="text-align: center;">
						<input type="submit" class="btn btn-success" value="Valider" style="width: 200px;" />
					</div>
				</form>
			</article>
			<article class="row">

			</article>
		</section>
		<% include ../footer.ejs %>
		<script>
			window.onload = function() {
				$.post("/commercial/createPlanSearch", {
					typeSearch: "gamme"
				}, function(data) {
					var newData = JSON.parse(data);
					for (var i = 0; i < Object.keys(newData).length; i++) {
					 	var option = document.createElement("option");
					  	option.value = newData[i].id;
					  	option.text = newData[i].nom;
					  	document.getElementById('gamme').add(option);
					}
					searchModele();
				});
			}

			function searchModele(){
				document.getElementById('modele_gamme').innerHTML = '';
				$.post("/commercial/createPlanSearch", {
					typeSearch: "modele_gamme",
					data: document.getElementById('gamme').value
				}, function(data) {
					var newData = JSON.parse(data);
					for (var i = 0; i < Object.keys(newData).length; i++) {
					 	var option = document.createElement("option");
					  	option.value = newData[i].id+"-"+newData[i].nb_etage;
					  	option.text = "Nom : "+newData[i].nom+" / Nb étages : "+newData[i].nb_etage+" / Forme : "+newData[i].forme;
					  	document.getElementById('modele_gamme').add(option);
					}
					searchEtage();
				});
			}

			function searchEtage(){
				document.getElementById("etage").innerHTML = '';
				var nb_etages = document.getElementById("modele_gamme").value.split('-')[1];
				for(var i = 0; i < nb_etages; i++){
					var option = document.createElement("option");
					option.value = i;
					if(i == 0){
						option.text = "RDC";
					}
					else{
						option.text = i;
					}
					document.getElementById("etage").add(option);
				}
			}
		</script>
</body>

</html>
