<!DOCTYPE html>
<html lang="fr">

<head>
	<title>Madera</title>
	<meta charset="utf-8">
	<link rel="stylesheet" type="text/css" href="/stylesheets/index.css">
	<link rel="stylesheet" type="text/css" href="/stylesheets/visualiserDevis.css">
	<link rel="stylesheet" type="text/css" href="/stylesheets/header_footer.css">
    <% include ../bootstrap_link.ejs %>
	<link rel="shortcut icon" href="/images/icone.png">
</head>

<body>
    <% include ../header.ejs %>
	<section>
        <article>
            <h2>Visualiser un devis :   </h2>
        </article>
        <article>
            <table>
                <th>Client</th>
                <th>Numero de devis</th>
                <th>Visualisation du devis</th>
                <th>Visualisation du dossier technique</th>
            </table>
        </article>
    </section>
    <% include ../footer.ejs %>
</body>
</html>
