<!DOCTYPE html>
<html>

<head>
    <title>Madera | 404</title>
    <meta charset="utf-8">
    <link rel="stylesheet" type="text/css" href="/stylesheets/index.css">
    <link rel="stylesheet" type="text/css" href="/stylesheets/header_footer.css">
</head>

<body>
    <% include header.ejs %>

        <section>
            <article>
                <h1>Erreur 404 Page Non Trouvée</h1>
                <p>Veuillez retourner à la page d'accueil.</p>
            </article>
        </section>

        <% include footer.ejs %>
</body>

</html>
