<!DOCTYPE html>
<html lang="fr">

<head>
	<title>Madera</title>
	<meta charset="utf-8">
	<link rel="stylesheet" type="text/css" href="/stylesheets/index.css">
	<link rel="stylesheet" type="text/css" href="/stylesheets/header_footer.css">
	<link rel="shortcut icon" href="/images/icone.png">
</head>

<body>
	<% include header.ejs %>
		<div>Vous venez de vous connecter avec le login " <%= data.login %> " et le mdp " <%= data.password %> "</div>
		<% include footer.ejs %>
</body>

</html>
