<!DOCTYPE html>
<html lang="fr">

<head>
	<title>Madera</title>
	<meta charset="utf-8">
	<link rel="stylesheet" type="text/css" href="/stylesheets/index.css">
	<% include bootstrap_link.ejs %>
	<link rel="stylesheet" type="text/css" href="/stylesheets/header_footer.css">
	<link rel="shortcut icon" href="/images/icone.png">
</head>

<body>
	<% include header.ejs %>
        <section>
            <article>
                <h2>Bonjour <%= data.login %></h2>
            </article>
        </section>
    <% include footer.ejs %>
</body>

</html>
