<!DOCTYPE html>
<html lang="fr">

<head>
	<title>Madera</title>
	<meta charset="utf-8">
	<link rel="stylesheet" type="text/css" href="/stylesheets/index.css">
	<link rel="stylesheet" type="text/css" href="/stylesheets/header_footer.css">
	<% include booTstrap_link.ejs %>
	<link rel="shortcut icon" href="/images/icone.png">
</head>

<body>

	<% include header.ejs %>
		<section>
			<article>
				<div>
					<form action="/home" method="post">
						<label for="login">Login : </label><br>
						<input type="text" class="form-control" id="login" name="login" /><br>
						<label for="password">Mot de passe : </label><br>
						<input type="password" id="password" name="password" class="form-control"/><br>
						<br><input type="submit" value="Connexion" class="btn btn-success" />
					</form>
				</div>
			</article>
		</section>
    <% include footer.ejs %>
</body>

</html>
